.header-top {
    background: #ff7503;
}

a.button.border,
a.button {
    background: #ff7503;
}

#main-menu ul li a:hover {
    background: #ff7503;
}

#main-menu .dropdown-menu a:hover {
    background: #ff7503;
}

.bloq-search input[type="text"] {
    border: 1px solid #ff7503;
}

.bloq-search input[type="submit"] {
    background: #ff7503;
}

.google-maps .filter {
    background: #ff7503;
}

.section-title:before {
    background-color: #ff7503;
}

.section-title h2 {
    color: #ff7503;
}

.recently .homes-content .homes-list li {
    color: #ff7503;
}

.recently .homes-content .homes-list li i {
    color: #ff7503;
}

.first-footer .bloq-email .email input[type="submit"] {
    background: #ff7503;
}

#navigation.style-1 .current {
    color: #ff7503;
}

#navigation.style-1 ul li:hover {
    background: #ff7503;
}

.twitter-widget.contuct .twitter-area .text h5 a {
    color: #ff7503;
}

.first-footer .contactus ul li .fa {
    color: #ff7503;
}

.first-footer .newsletters h3::after {
    background: #ff7503;
}

.feature-cities-1 .listing-badges .featured {
    background: #ff7503;
}

.slick-prev:hover,
.slick-next:hover {
    color: transparent;
    outline: none;
    background: #ff7503;
}

.welcome-title h2 span,
.welcome-title h2 span {
    color: #ff7503;
}

.welcome .popup-youtube {
    color: #ff7503;
}

.welcome .wprt-image-video .iq-waves .waves {
    background: rgb(247, 161, 62) none repeat scroll 0 0 padding-box;
}

.services-home .bg-base {
    background: #ff7503;
}

.services-home a.text-base {
    color: #ff7503;
}

.portfolio .homes-content .homes-list li {
    color: #ff7503;
}

.portfolio .homes-content .homes-list li i {
    color: #ff7503;
}

.top-location .owl-theme .owl-nav [class*=owl-] {
    background: #ff7503;
}

.blog-section .news-item a:hover h3 {
    color: #ff7503;
}

.blog-section .news-link {
    color: #ff7503;
}

.testimonials .test-1 p::before {
    color: #ff7503;
}

.testimonials .test-1 h3 {
    color: #ff7503;
}

.owl-dot.active {
    background: #ff7503 !important;
}

.counterup .countr .fa {
    color: #ff7503;
}

.realhome_subscribe input {
    border-color: #ff7503;
}

.realhome_form_subscribe button {
    background: #ff7503;
    border: 2px solid #ff7503;
}

.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
    background-color: #ff7503 !important;
}

.first-footer .btn {
    background: #ff7503;
}

.first-footer .btn:hover {
    background: transparent;
}

.navigation ul li a:hover {
    color: #ff7503;
}

.twitter-widget.contuct .twitter-area .icon-holder i {
    color: #ff7503;
}

.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
    color: #ff7503;
}

.second-footer {
    background: #ff7503;
}

.go-up {
    background: #ff7503 !important;
}

.main-search-field {
    background: #ff7503;
}

.btn-default.btn-theme-colored2:hover {
    background: #ff7503;
}

.text-theme-colored2 {
    color: #ff7503 !important;
}

.btn-dark.btn-theme-colored {
    background-color: #ff7503;
}

.parallax-search .form-group .nice-select:hover {
    color: #ff7503;
}

.parallax-search .form-group .nice-select i {
    color: #ff7503;
}

.parallax-search .form-group .list li:hover {
    background: #ff7503;
}

.parallax-search .form-group .btn {
    background: #ff7503;
}

.inner-pages .blog .active-view-btn:hover {
    background: #ff7503 !important;
}

.inner-pages .change-view-btn:hover {
    color: #ff7503 !important;
}

.inner-pages .blog .block-heading .change-view-btn.lde:hover {
    background: #ff7503;
}

.inner-pages .blog .section-heading .media .media-left i {
    background: #ff7503;
}

.inner-pages .blog .main-search-field select {
    background: #ff7503;
}

.inner-pages .blog .at-input {
    border: 2px solid #ff7503;
}

.inner-pages .blog .ui-widget.ui-widget-content {
    background: #ff7503;
}

.inner-pages .blog .hvr-bounce-to-right {
    background: #ff7503;
}

.inner-pages .widget h5::after {
    background-color: #ff7503;
}

.inner-pages .portfolio .footer i {
    color: #ff7503;
}

.inner-pages .recent-post .tags a:hover {
    color: #ff7503;
    border-color: #ff7503;
}

.page-item.active .page-link {
    background: #ff7503;
    border-color: #ff7503;
}

.page-link {
    color: #ff7503;
}

.inner-pages .blog .homes-content.details-2 .fa {
    color: #ff7503;
}

.inner-pages .blog .sorting-options h5 {
    color: #ff7503;
}

.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
    color: #ff7503;
    background-color: #ff7503;
}

.inner-pages .blog .homes-content.details .fa {
    color: #ff7503;
}

.inner-pages .button.alt {
    background-color: #ff7503;
}

.inner-pages .agent-details a:hover {
    color: #ff7503;
}

.inner-pages .agent-details .fa {
    color: #ff7503;
}

.inner-pages .about-us .who-1 h2 span {
    color: #ff7503;
}

.inner-pages .about-us .wprt-image-video .icon-wrap {
    background-color: #ff7503;
}

.bg-2 .button {
    border-color: #ff7503;
}

.inner-pages .panel .panel-heading a {
    background: #ff7503;
}

.plan-price {
    background: #ff7503;
}

.plan-price:after {
    border-top-color: #ff7503;
}

.plan a.btn {
    background: #ff7503;
}

.inner-pages .top-headings h2 {
    color: #ff7503;
}

.inner-pages .port-info .btn {
    background: #ff7503;
    border: 1px solid #ff7503;
}

#login .btn_1,
a.btn_1 {
    background: #ff7503;
}

.inner-pages .blog .social .date {
    background-color: #ff7503;
}

.blog-pots figure {
    background: #ff7503;
}

.blog .blog-pots .fa {
    color: #ff7503;
}

.btn-secondary {
    background: #ff7503;
}

.single-blog-post .img-box .overlay {
    background: rgba(247, 161, 62, 0.8);
}

.inner-pages .form-control {
    border: 1px solid #ff7503;
}

.inner-pages .input-group-btn .btn-primary {
    background: #ff7503;
    border: 1px solid #ff7503;
}

.inner-pages .input-group-btn .btn-primary:hover {
    color: #ff7503;
}

.inner-pages .comments-info h5 {
    color: #ff7503;
}

.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
    background-color: #ff7503;
}

.inner-pages .leve-comments .btn {
    background: #ff7503;
    border: 1px solid #ff7503;
}

.inner-pages .leve-comments .btn:hover {
    border: 1px solid #ff7503;
}

.inner-pages .contact-us .btn {
    background: #ff7503;
    border: 1px solid #ff7503;
}

.inner-pages .contact-us .btn:hover {
    border: 1px solid #ff7503;
}

.inner-pages .call-info h3::after {
    background-color: #ff7503;
}

.inner-pages .call-info ul li .fa {
    color: #ff7503;
}

.inner-pages .single-add-property>h3 {
    color: #ff7503;
}

.inner-pages .prperty-submit-button>button {
    background: #ff7503 none repeat scroll 0 0;
}

.leaflet-div-icon,
.map-marker {
    background-color: #ff7503;
    border: 5px solid #ff7503;
}

.leaflet-div-icon:before,
.map-marker:before {
    border-top-color: #ff7503;
}

.listing-window-image:before {
    background-color: #ff7503;
}

.listing-window-content h3 {
    background-color: #ff7503;
}

section.pricing-table {
    padding: 6rem 0;
    background: #fff;
}

.btn.btn-outline-light {
    background-color: #ff7503;
}

.blog-section .action-list .fa-comment {
    color: #ff7503;
}

.blog-section .action-list .fa-share-alt {
    color: #ff7503;
}

.blog-section .action-list .fa-heart {
    color: #ff7503;
}

.homepage-3 .btn,
.homepage-3 .btn:active,
.homepage-3 .btn.sApp-btn::before,
.homepage-3 .bg-overlay::after,
.homepage-3 .benifits-item::after {
    background: #ff7503 !important;
}

.homepage-3 a.btn.btn-yellow:hover {
    background: #ff7503 !important;
    color: #fff;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.homepage-3 .rld-banner-tab .nav-item a.active,
.homepage-3 .rld-banner-tab .nav-item a:hover,
.homepage-3 .rld-banner-tab .nav-item a.active:before,
.homepage-3 .range-slider .ui-widget-header,
.homepage-3 .checkboxes input[type="checkbox"]:checked+label:before {
    background: #ff7503;
}

.homepage-3 .btn:hover,
.homepage-3 .popular-places .listing-badges .featured,
.homepage-3 .homes-tag.featured {
    background: #ff7503 !important;
}

.homepage-3 .welcome-area {
    background: linear-gradient(-36deg,
            rgba(56, 33, 12, 0.2) 0%,
            rgba(29, 19, 4, 0.2) 100%),
        url(../../images/bg/legzira.jpg) no-repeat scroll center bottom/cover;
}

.decouvrez .welcome-area {
    background: linear-gradient(-36deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 18, 18, 0.2) 100%),
        url(../../images/bg/morocco.jpg) no-repeat scroll center center/cover;
}

.inner-pages .btn:hover,
.inner-pages .popular-places .listing-badges .featured,
.inner-pages .homes-tag.featured {
    background: #ff7503 !important;
}

.inner-pages .rld-banner-tab .nav-item a.active,
.inner-pages .rld-banner-tab .nav-item a:hover,
.inner-pages .rld-banner-tab .nav-item a.active:before,
.inner-pages .range-slider .ui-widget-header,
.inner-pages .checkboxes input[type="checkbox"]:checked+label:before {
    background: #ff7503;
}

.inner-pages .btn,
.inner-pages .btn:active,
.inner-pages .btn.sApp-btn:before,
.inner-pages .bg-overlay::after,
.inner-pages .benifits-item:after {
    background: #ff7503 !important;
}

.inner-pages a.btn.btn-yellow:hover {
    background: #ff7503 !important;
    color: #fff;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.portfolio .homes-content .homes-address .fa-map-marker {
    color: #ff7503;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff7503;
    color: white;
}

.decouvrez .blog-section .news-link {
    color: #ff7503;
}
