@import 'theme/variable' ;
@import '~flag-icon-css/sass/flag-icon';

$primary: #4636e7;
$secondary: #434345;
$dark: #4636e7;
$light:#4636e7;
@import 'theme/style';
@import 'theme/theme-rtl';
@import 'theme/theme-dark';
@import 'theme/responsive';
@import 'theme/customize';
